
.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "nav content";
    grid-gap: 10px;
}

.header {
    grid-area: header;
    background: aquamarine;
}

.header img {
    width: 80px;
}

.nav {
    grid-area: nav;
    background: aquamarine;
}

.content {
    grid-area: content;
    background: burlywood;
}